<div class="content">

    <div class="banner">
        <img src="../../assets/images/bg-header-mobile.svg" class="w-full h-36"/>
    </div>


    <!-- featured jobs -->

    <div class="featured-cont mt-20"   >
     



     <!-- non-featured jobs -->

     <div class="non-featured-jobs" >

        <div class="job-card  m-9 p-6 relative bg-white  rounded-lg shadow-xl">
            <img src="../../assets/images/photosnap.svg" class="absolute -top-8 w-16">
            <div class="flex  mt-4 gap-4 mb-5">
                <p class="text-md  font-bold text-text-cyan">Photosnap</p>
                <p class="p-1 uppercase flex justify-center border text-xs font-bold  rounded-full w-14 text-white bg-text-cyan">New!</p>
               
            </div>
           <p class="mb-5 font-bold">Senior Frontend Developer</p>
    
           <div class="tags divide-y divide-y-slate-500">
            <ul class="flex gap-6 text-sm list-disc mb-4 font-semibold text-gray-400">
                <li class="list-none">1d ago</li>
                <li>Full-time</li>
                <li>USA only</li>
               </ul>
    
                <ul class="grid grid-cols-3 pt-4">
                    <li class="p-1 bg-filter-cyan font-bold text-text-cyan mb-4  w-20 rounded-md">Frontend</li>
                    <li class="p-1 bg-filter-cyan font-bold text-text-cyan mb-4 flex justify-center  w-20 rounded-md">Senior</li>
                    <li class="p-1 bg-filter-cyan font-bold text-text-cyan mb-4 flex justify-center  w-16 rounded-md">HTML</li>
                    <li class="p-1 bg-filter-cyan font-bold text-text-cyan  w-12 flex justify-center rounded-md">CSS</li>
                    <li class="p-1 bg-filter-cyan font-bold text-text-cyan  w-24 flex justify-center rounded-md">Javascript</li>
                   
                </ul>
           </div>
         </div>

     </div>

     


    </div>
    
</div>
