<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="relative">
          <img src="../../assets/images/bg-header-mobile.svg" class="w-full h-36 lg:invisible" />
          <img src="../../assets/images/bg-header-desktop.svg" class="w-full -mt-40 h-44 invisible lg:visible"/>
          <div class="search-container w-[88%] h-16 rounded-md bg-white top-28 absolute left-[6%]">
            <form class="ml-[2%]" (submit)="filteredRoles(filter.value); $event.preventDefault()">
                <input 
                #filter
                  type="text" 
                  [formControl]="searchControl"
                  class="outline-none border-b h-8 border-dark-cyan w-[85%] caret-text-cyan text-text-cyan font-semibold lg:mt-4" 
                />
                <button type="button" class="text-dark-cyan font-bold ml-2 hover:text-text-cyan">search</button>
              </form>
              
              
            
          </div>
        </div>
      
        <!-- featured jobs -->
      
        <div class="featured-cont mt-28" *ngIf="!searchFilter">
          <app-featured-jobs
            *ngFor="let featuredJob of featuredJobs"
            [jobCard]="featuredJob"
          />
        </div>
      
        <!-- non-featured jobs -->
      
        <div class="non-featured-jobs" *ngIf="!searchFilter">
          <app-non-featured-jobs *ngFor="let nonFeaturedJob of nonFeaturedJobs" [jobNonFeaturedCard]="nonFeaturedJob" />
        </div>
      </div>
  
      <!-- all jobs -->

      <div class="all-jobs mt-28" *ngIf="searchFilter">
        <app-all-jobs *ngFor="let allJob of filteredJobs" [allJob]="allJob" [currentFilter]="currentFilter"/>
      </div>

     <!-- <div class="">
      <div class="w-full  h-full overflow-x-scroll scroll whitespace-nowrap scroll-smooth scrollbar-hide ">
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1604999565976-8913ad2ddb7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"/>
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1622890806166-111d7f6c7c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1575424909138-46b05e5919ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1622890806166-111d7f6c7c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
        <div class="snap-center w-[220px] inline-block p-2 hover:scale-105 ease-in-out duration-300">
          <img src="https://images.unsplash.com/photo-1622890806166-111d7f6c7c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80" />
        </div>
     </div>
      
      </div> -->
       
</body>
</html>


